In [ ]:
# Q1: You are working in a bank and you have been given two lists of the employees 
# who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha.
# List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. 
# Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function.

list1 = ["Ramesh", "Suresh", "Mahesh", "Ali", "Jacob", "Saritha"]
list2 = ["Ali", "Mukesh", "Mahesh", "Jacob", "Sai", "Sarita"]

def common_people(list1, list2):
  result = list()
  for i in list1:
    if i in list2:
      result.append(i)
  return result
print("Common people in both lists are:", common_people(list1, list2))

:

In [2]:
# Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. 
# Please write a program which separates all the names and convert them into a list. 
# Once converted in a list, please write a program which adds their age.

# Ramesh :  25
# Suresh : 22
# Mohit : 26

d = "Ramesh Suresh Mohit"
e = d.split()
e

['Ramesh', 'Suresh', 'Mohit']

In [4]:
type(e)

list

In [3]:
g = [25, 22, 26]
g

[25, 22, 26]

In [4]:
dict(zip(e , g))

{'Ramesh': 25, 'Suresh': 22, 'Mohit': 26}

In [5]:
# Q3: A few students from a university have taken three exams
# Name = Sam, Jacy, Tom, Steve
# Python = 25, 26, 29, 28
# Statistics = 23, 21, 19, 25
# SQL = 29, 27, 28, 25
# Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. 
# Please also report who scored the highest mark in python using programming construct. 

Name = ["Sam", "Jacy", "Tom", "Steve"]
Python = [25, 26, 29, 28]
Statistics = [23, 21, 19, 25]
SQL = [29, 27, 28, 25]
dict1 = dict(zip(Name, zip(Python, Statistics, SQL)))
dict1

{'Sam': (25, 23, 29),
 'Jacy': (26, 21, 27),
 'Tom': (29, 19, 28),
 'Steve': (28, 25, 25)}

In [6]:
mean = list()
for key in dict1.keys():
  mean.append(round(sum(dict1[key]) / len(dict1[key]),2))
print(mean)
print(max(mean))
print(Name[Python.index(max(Python))])

[25.67, 24.67, 25.33, 26.0]
26.0
Tom

In [8]:
# Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C.
#  One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. 
# Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?  

paracetamol = 35
azithromycin = 49
vitamin_c = 33

bill = 2 * paracetamol + 3 * azithromycin + 5 * vitamin_c
change = 2000 - bill
print(change)

1618

In [9]:
# Q5: Accept a sentence as input and find the number of vowels in it. 
# Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. 
# This function should be applicable for all other different sentences.

def count_vowels(text):
  c = 0
  for i in text:
    if i in ("aeiou"):
      c += 1
  return c

t = input("Enter the text: ")
print(count_vowels(t))

Enter the text: Odin school data science programme
11

In [16]:
# Q6: You have been appointed by the election commission to create a website. 
# Your first task is to work on a program which tells candidates if they are eligible for voting or not. 
# If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. 
# Eligibility criteria for voting is 18 years.
# For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.  

a = int(input("enter the age:"))
if a >= 18:
  print("Congrats! You are eligible")
else:
  print("Return after", 18-a , "years")

enter the age:13
Return after 5 years

: